.inputs{
    background-color: white;
    border: none;
    border-bottom:1px solid #d5d5d5;
}

.searches{

    margin-top: 25px;
    margin-left: 246px;

}

.searches button{
    width: 280px;
    margin-left: 33px;

    background-color: #009ac9;

    color: #ffffff;
    border: 1px solid transparent;

    border-radius: 6px;
    height: 30px;
}

.searches input{
    width: 500px;
    }

.searches :focus{
    border-bottom:1px solid #009ac9;


}

.cell{
    padding: 6px 12px;
    display: table-cell;
    @media screen and (max-width: 580px)
        padding: 2px 16
        display: block

}

.table{
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: table;
    @media screen and (max-width: 580px)
        display: block;
}


.row{
    display: table-row;
    background: #f6f6f6;
}

