


  .inputs{
    background-color: white;
    border: none;
    border-bottom:1px solid #d5d5d5;
}

.searches{

    margin-top: 25px;
    margin-left: 246px;

}

.searches button{
    width: 280px;
    margin-left: 33px;

    background-color: #009ac9;

    color: #ffffff;
    border: 1px solid transparent;

    border-radius: 6px;
    height: 30px;
}

.searches input{
    width: 500px;
    }

.searches :focus{
    border-bottom:1px solid #009ac9;


}
.my-table th{
    width: 181px;

    height: 25px;
}

.my-table {
    background-color: #f9f9f9;

    font-family: "Roboto script=all rev=2", "Adobe Blank", sans-serif;
    font-weight: 300;
    font-style: normal;

}

#header{
    background-color: #85c3f8;
}